.container {
  padding: 6rem 0;
  background-image: linear-gradient(
    to bottom right, 
    white, 
    rgba(235, 255, 226, 0.598));
    background-color: white;
    height: 1000px;
}

.header {
  margin-bottom: 8rem;
}

.image {
  text-align: center;
}
