* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  /* background-image: linear-gradient(to bottom right, #dbeac3, #c4ce8e); */
  /* background-image: linear-gradient(to bottom right , #edf2e0, #c4ce8e); */
}
