.container {
  position: relative;
}

.container button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 1.8rem;
  color: rgb(38, 38, 38);
}

.container button:hover {
    cursor: pointer;
}

.forwardBtn {
    position: absolute;
    top: -22rem;
    right: 5rem;
}

.backBtn {
    position: absolute;
    top: -22rem;
    left: 5rem;
}
